In [1]:
import pandas as pd
import numpy as np
from numpy import linalg
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

<img src="images/l1.svg"> <br>

## p = 1  L1 Norm
## p = 2  L2 Norm

https://en.wikipedia.org/wiki/Norm_(mathematics)

In [3]:
np.random.seed(20)
data = np.random.randint(-5,6,size=(2,2))
data
df = pd.DataFrame(data)
df

   0  1
0 -2  5
1  5  4

### L1 norm

In [4]:
linalg.norm(df, ord=1, axis=1)

array([7., 9.])

In [7]:
np.random.seed(20)
data = np.random.randint(1,10,size=(3,2))
data
df = pd.DataFrame(data)
df

   0  1
0  4  5
1  7  8
2  3  1

### L2 norm

In [8]:
linalg.norm(df, ord=2, axis=1)

array([ 6.40312424, 10.63014581,  3.16227766])